on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'adopt'
    - uses: actions/setup-node@v3
      with:
        node-version: '16'
        cache: 'npm'
    - run: |
        curl -L -O https://github.com/flix/flix/releases/download/v0.26.0/flix.jar
        java -jar flix.jar test
        java -jar flix.jar build
        java -jar flix.jar build-jar
        java -jar flix.jar build-pkg
        npm ci
        npx semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
